{% extends 'base.html' %}
{% block title %}{{ artiste.nom }}{% endblock %}
{% block logo %}
<img src="/{{logo}}" style="width:100%; height: 8vh;" class="rounded" alt="Festival">
{% endblock %}
{% block content %}
<h4>{{ artiste.nom }}</h4>
<p>{{ artiste.description }}</p>
<ul class="list-group" >
    <li class="list-group-item">
        Site : <a href="{{ artiste.site_web }}">{{ artiste.site_web }}</a>
    </li>
    <li class="list-group-item">
        Youtube : <a href="{{ artiste.youtube }}">{{ artiste.youtube }}</a>
    </li>
    <li class="list-group-item">
        Facebook : <a href="{{ artiste.facebook }}">{{ artiste.facebook }}</a>
    </li>
</ul>
<a href="{% url 'API_festivals:artiste_update' id=artiste.id %}">
    <button>Modifier</button>
</a>

<a href="{% url 'API_festivals:artiste_delete' id=artiste.id %}">
    <button>Supprimer</button>
</a>

{% endblock %}