{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Performances{% endblock %}
{% block content %}
<form method="GET">
    {% csrf_token %}
    {{ form.search|as_crispy_field }}
</form>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for performance in performances %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" >{{ performance.nom }}</h5>
                <p class="card-text">{{performance.date}}</p>
                <a href="{% url 'API_festivals:performance_detail' performance.id %}">Détail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    {% if render_left_arrow %}
    <a href="{% url 'API_festivals:performances' page=page_precedente %}">
        <button>Page précédente</button>
    </a>
    {% endif %}
    {% if render_right_arrow %}
    <a href="{% url 'API_festivals:performances' page=page_suivante %}">
        <button>Page suivante</button>
    </a>
    {% endif %}
    <a href="{% url 'API_festivals:performance_create' %}">
        <button>Nouvelle performance</button>
    </a>
</div>
{% endblock %}