form, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*, *:before, *:after {
    box-sizing: border-box;
}

form.persoForm {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Form background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[required], textarea[required], select[required] {
    border: 1px solid #ffffff; /* Highlight color for required fields */
    background-color: #f0f8ff; /* Highlight background color for required fields */
}

label[required]:after {
    content: " *";
    color: #FF0000; /* Asterisk color */
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Input border color */
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #87CEEB; /* Submit button background color */
    color: #fff; /* Submit button text color */
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4682B4; /* Hover background color */
}
