{% extends 'base.html' %}
{% block title %}{{scene.nom}}{% endblock %}
{% block logo %}
<img src="/{{logo}}" style="width:100%; height: 8vh;" class="rounded" alt="Festival">
{% endblock %}
{% block content %}
<table class="table table-bordered shadow-lg table-rounded">
    <thead>
        <tr>
            <th scope="col" style="width: 20%;">Paramètre</th>
            <th scope="col" style="width: 80%;">Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <th scope="row">Nom</th>
            <td>{{ scene.nom }}</td>
        </tr>
        <tr class="table-light">
            <th scope="row">Image</th>
            <td><img src="/{{scene.image}}" alt="{{scene.nom}}"></td>
        </tr>
        <tr class="table-light">
            <th scope="row">Lieu</th>
            <td>{{scene.lieu}}</td>
        </tr>
        <tr class="table-light">
            <th scope="row">Performance(s)</th>
            <td>
                {% for performance in performances %}
                <a href="{% url 'API_festivals:performance_detail' performance.id %}">{{performance.nom}}</a>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
    <a href="{% url 'API_festivals:scene_update' id=scene.id %}" class="btn btn-warning">Modifier</a>
    <a href="{% url 'API_festivals:scene_delete' id=scene.id %}" class="btn btn-danger">Supprimer</a>
{% endblock %}