<div class="modal fade" id="myModal"  data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Attention</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
            <!-- Modal Body -->
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce partenaire ?</p>
  
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">
                  <a href="{% url 'API_festivals:partenaire_delete' partenaire.id %}">Supprimer {{partenaire.nom}}</a>
                </button>
                <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
  </div>