{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Artistes{% endblock %}
{% block logo %}
<img src="/{{logo}}" style="width:100%; height: 8vh;" class="rounded" alt="Festival">
{% endblock %}
{% block content %}
<form method="GET">
    {% csrf_token %}
    {{ form.search|as_crispy_field }}
</form>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for artiste in artistes %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="margin-bottom: 1rem;">
            <img src="/{{ artiste.image }}" class="card-img-top rounded" style="width:100%; height: 150px;" alt="image de l'artiste qui performera">
            <div class="card-body">
              <h5 class="card-title">{{ artiste.nom }}</h5>
              <p class="card-text">{{ artiste.description_tronquee }}</p>
              <a href="{% url 'API_festivals:artiste_detail' artiste.id %}" class="btn btn-primary">Détails</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
<div>
    {% if render_left_arrow %}
        <a href="{% url 'API_festivals:artistes' page=page_precedente %}" class="btn btn-secondary">Page précédente</a>
    {% endif %}
    {% if render_right_arrow %}
        <a href="{% url 'API_festivals:artistes' page=page_suivante %}" class="btn btn-secondary">Page suivante</a>
    {% endif %}
</div>
{% endblock %}