{% extends 'base.html' %}
{% block title %}{{ artiste.nom }}{% endblock %}
{% block content %}
<h4>{{ configuration.nomFestival }}</h4>
<p>{{ configuration.descriptionFestival }}</p>
<ul class="list-group">
    <li class="list-group-item">
        Site : <a href="{{ configuration.siteWebFestival }}">{{ configuration.siteWebFestival }}</a>
    </li>
    <li class="list-group-item">
        Youtube : <a href="{{ configuration.youtubeFestival }}">{{ configuration.youtubeFestival }}</a>
    </li>
    <li class="list-group-item">
        Facebook : <a href="{{ configuration.facebookFestival }}">{{ configuration.facebookFestival }}</a>
    </li>
    <li class="list-group-item">
        Instagram : <a href="{{ configuration.instagramFestival }}">{{ configuration.instagramFestival }}</a>
    </li>
    <li class="list-group-item">
        Mentions légales : {{ configuration.mentionsLegales }}
    </li>
    <li class="list-group-item">
        Police d'écriture : {{ configuration.policeEcriture }}
    </li>
    <li class="list-group-item">
        Couleur principale : {{ configuration.couleurPrincipale }}
    </li>
    <li class="list-group-item">
        Couleur secondaire : {{ configuration.couleurSecondaire }}
    </li>
    <li class="list-group-item">
        Couleur de fond : {{ configuration.couleurBackground }}
    </li>
    <li class="list-group-item">
        Vidéo promotionnelle : <a href="{{ configuration.video_prommo }}">{{ configuration.video_prommo }}</a>
    </li>
</ul>
<button>
    <a href="{% url 'API_festivals:configuration_update' %}">Modifier</a>
</button>
<button>
    <a href="{% url 'API_festivals:configuration_delete' %}">Supprimer</a>
</button>
{% endblock %}