{% extends 'base.html' %}
{% block title %}{{ artiste.nom }}{% endblock %}
{% block logo %}
<img src="/{{configuration.logoFestival}}" style="width:100%; height: 8vh;" class="rounded" alt="Festival">
{% endblock %}
{% block content %}
<h4>{{ configuration.nomFestival }}</h4>
<p>{{ configuration.descriptionFestival }}</p>
<table class="table table-bordered shadow-lg table-rounded">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Valeur</th>
      </tr>
    </thead>
      <tr class="table-light">
        <th scope="row">Site</th>
        <td><a href="{{ configuration.siteWebFestival }}" target="_blank">{{ configuration.siteWebFestival }}</a></td>
      </tr>
      <tr class="table-light">
        <th scope="row">Youtube</th>
        <td><a href="{{ configuration.youtubeFestival }}" target="_blank">{{ configuration.youtubeFestival }}</a></td>
    <tr class="table-light">
        <th scope="row">Facebook</th>
        <td><a href="{{ configuration.facebookFestival }}" target="_blank">{{ configuration.facebookFestival }}</a></td>
    <tr class="table-light">
        <th scope="row">Instagram</th>
        <td><a href="{{ configuration.instagramFestival }}" target="_blank">{{ configuration.instagramFestival }}</a></td>
    <tr class="table-light">
        <th scope="row">Mentions légales</th>
        <td>{{ configuration.mentionsLegales }}</td>
    <tr class="table-light">
        <th scope="row">Police d'écriture</th>
        <td>{{ configuration.policeEcriture }}</td>
    <tr class="table-light">
        <th scope="row">Couleur Principale</th>
        <td>{{ configuration.couleurPrincipale }}</td>
    <tr class="table-light">
            <th scope="row">Couleur Secondaire</th>
            <td>{{ configuration.couleurSecondaire }}</td>
    <tr class="table-light">
                <th scope="row">Couleur de fond</th>
                <td>{{ configuration.couleurBackground }}</td>
    <tr class="table-light">
        <th scope="row">Vidéo promotionnelle</th>
        <td><video class="rounded border shadow-lg" style="width: 100%; max-width: 800px;" src="/{{ configuration.video_promo }}" controls></video></td>
        <tr class="table-light">
          <th scope="row">Partenaires</th>
          <td>
            {% for partenaire in partenaires%}
            <a href="{% url 'API_festivals:partenaire_detail' partenaire.id %}">{{ partenaire.nom }}</a>
            {% endfor %}
          </td>
    </tbody>
</table>

<a href="{% url 'API_festivals:configuration_update' %}" class="btn btn-warning">Modifier</a>

<a href="{% url 'API_festivals:configuration_delete' %}" class="btn btn-danger">Supprimer</a>

{% endblock %}