{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Créer une configuration{% endblock %}
{% block content %}
<div class="container" style="text-align: center;">
    <h2>Création de la configuration du festival</h2>
</div>
<form class="persoForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% with WIDGET_ERROR_CLASS='champsInvalide' WIDGET_REQUIRED_CLASS='champsRequis'%}
        {% for field in configuration_form %}
            {{ field.label_tag }}
            {% render_field field %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p style="color: red;">* {{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endwith %}
    <input type="submit" value="Enregistrer">
</form>
{% endblock %}