{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Créer une configuration{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('.tag-button').on('click', function () {
            var tagId = $(this).data('tag-id');
            $.ajax({
                url: "{% url 'API_festivals:rechercher_artistes_par_tag' %}",
                data: {"tag_id": tagId},
                dataType: 'json',
                success: function (data) {
                    let artistesList = $('#id_artistes');
                    artistesList.empty();
                    $.each(data.artistes, function (index, artiste) {
                        let html_a_ajouter = `
                            <div>
                                <label for="id_artistes_${artiste.id-1}">
                                    <input type="checkbox" name="artistes" value="${artiste.id}" class="champsRequis"id="id_artistes_${artiste.id-1}">
                                    ${artiste.nom}
                                </label>
                            </div>
                        `
                        artistesList.append(html_a_ajouter);
                    });
                }
            });
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container" style="text-align: center;">
    <h2>Création de la configuration du festival</h2>
</div>
<form class="persoForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% with WIDGET_ERROR_CLASS='champsInvalide' WIDGET_REQUIRED_CLASS='champsRequis'%}
        {% for field in form %}
            {% if field == form.artistes %}
            {{ field.label_tag }}
            <br>
            <div class="btn-group" role="group" style="margin-top: 1em;">
                <button type="button" name="tags" data-tag-id="-1" class="tag-button tous">Tous</button>
                {% for tag in tag_data %}
                    <button type="button" name="tags" data-tag-id="{{ tag.pk }}" class="tag-button">{{ tag }}</button>
                {% endfor %}
            </div>
            <div id="id_artistes" class="champsRequis"></div>
            {% else %}
            {{ field.label_tag }}
            {% render_field field %}
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
                    <p style="color: red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                        <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                      </svg> {{ error }}</p>
            {% endfor %}
            {% endif %}
        {% endfor %}
    {% endwith %}
    <button type="button" class="btn btn-primary flexe" data-bs-toggle="modal" data-bs-target="#createPartnerModal">
        Ajouter un nouveau partenaire
    </button>
    <button type="button" class="btn btn-primary flexe" data-bs-toggle="modal" data-bs-target="#createArtistModal">
        Ajouter un nouvel artiste
    </button>
    <input type="submit" value="Enregistrer">
</form>
{% include '../modal/partenaires/partenaire_create.html' %}
{% include '../modal/artistes/artiste_create.html'%}
{% endblock %}