{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ configuration.nomFestival }}{% endblock %}
{% block logo %}
<img src="/{{ configuration.logoFestival }}" style="width:100%; height: 8vh;" class="rounded" alt="Festival">
{% endblock %}
{% block content %}
<div class="container" style="text-align: center;">
    <h2>Modifier la configuration actuelle</h2>
</div>
<form class="persoForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% with WIDGET_ERROR_CLASS='champsInvalide' WIDGET_REQUIRED_CLASS='champsRequis'%}
        {% for field in form %}
            {{ field.label_tag }}
            {% render_field field %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p style="color: red;">* {{ error }}</p>
                {% endfor %}
                {% endif %}
            {% endfor %}
        {% endwith %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPartnerModal">
        Ajouter un nouveau partenaire
    </button>
    <input type="submit" value="Enregistrer">
</form>
{% include '../modal/partenaires/partenaire_create.html' %}
{% endblock %}
