{% extends 'base.html' %}
{% block title %}{{ artiste.nom }}{% endblock %}
{% block logo %}
<img src="/{{configuration.logo}}" style="width:100%; height: 8vh;" class="rounded" alt="festival">
{% endblock %}
{% block content %}
<h4>{{ configuration.nom }}</h4>
<p>{{ configuration.description }}</p>
<table class="table table-bordered shadow-lg table-rounded">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Valeur</th>
      </tr>
    </thead>
      <tr class="table-light">
        <th scope="row">Site</th>
        <td><a href="{{ configuration.site_web }}" target="_blank">{{ configuration.site_web }}</a></td>
      </tr>
      <tr class="table-light">
        <th scope="row">Youtube</th>
        <td><a href="{{ configuration.youtube }}" target="_blank">{{ configuration.youtube }}</a></td>
    <tr class="table-light">
        <th scope="row">Facebook</th>
        <td><a href="{{ configuration.facebook }}" target="_blank">{{ configuration.facebook }}</a></td>
    <tr class="table-light">
        <th scope="row">Instagram</th>
        <td><a href="{{ configuration.instagram }}" target="_blank">{{ configuration.instagram }}</a></td>
    <tr class="table-light">
        <th scope="row">Mentions légales</th>
        <td>{{ configuration.mentions_legales }}</td>
    <tr class="table-light">
        <th scope="row">Police d'écriture</th>
        <td>{{ configuration.police_ecriture }}</td>
    <tr class="table-light">
        <th scope="row">Couleur Principale</th>
        <td>{{ configuration.couleur_principale }}</td>
    <tr class="table-light">
            <th scope="row">Couleur Secondaire</th>
            <td>{{ configuration.couleur_secondaire }}</td>
    <tr class="table-light">
                <th scope="row">Couleur de fond</th>
                <td>{{ configuration.couleur_background }}</td>
    <tr class="table-light">
        <th scope="row">Vidéo promotionnelle</th>
        <td><video class="rounded border shadow-lg" style="width: 100%; max-width: 800px;" src="/{{ configuration.video_promo }}" controls></video></td>
        <tr class="table-light">
          <th scope="row">Partenaires</th>
          <td>
            {% for partenaire in partenaires%}
            <a href="{% url 'API_festivals:partenaire_detail' partenaire.id %}">{{ partenaire.nom }}</a>
            {% endfor %}
          </td>
    </tbody>
</table>

<a href="{% url 'API_festivals:configuration_update' %}" class="btn btn-warning">Modifier</a>

<a href="{% url 'API_festivals:configuration_delete' %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Supprimer</a>
{% include '../modal/configuration/configuration_delete.html' %}
{% endblock %}