{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Scène{% endblock %}
{% block content %}
<form method="GET">
    {% csrf_token %}
    {{ form.search|as_crispy_field }}
</form>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for scene in scenes %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" >{{ scene.nom }}</h5>
                <a href="{% url 'API_festivals:scene_detail' scene.id %}">Détail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    {% if render_left_arrow %}
    <a href="{% url 'API_festivals:scenes' page=page_precedente %}">
        <button>Page précédente</button>
    </a>
    {% endif %}
    {% if render_right_arrow %}
    <a href="{% url 'API_festivals:scenes' page=page_suivante %}">
        <button>Page suivante</button>
    </a>
    {% endif %}
    <a href="{% url 'API_festivals:scene_create' %}">
        <button>Nouvelle scène</button>
    </a>
</div>
{% endblock %}